@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;400&display=swap');

body, input, option {
    font-family: 'Readex Pro', sans-serif;
}

h1 {
    background-color: #182C61;
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 20px 0;
}

h2 {
    background-color: midnightblue;
    color: white;
    font-size: 20px;
}

h3 {
    background-color: mediumorchid;
    font-size: 17px;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

input[type="number"] {
    margin: 0 10px;
}

#result, #clearBtn {
    text-align: center;
    margin-top: 20px;
}

#warning {
    color: red;
    font-weight: bold;
}